body {
    background: #b5bb9b;
}
/*#697A55;*/

/*	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQYV2PMb4j8/+vXHwYYYGNjATPRxRgzq0L/IyuCKQBpQFYMV4guAdKMLAZWiCyAbjVMjhHZjegakJ1BvEKirYb5mijPEBU8xAY4APPOXnHpdx5rAAAAAElFTkSuQmCC);}
*/
.offset1 {
    margin-left: 70px;
}

.span3 {
    width: 25%;
}

.icon {
    padding: 54px 0 14px 120px;
}

.gTK {
    background: #fff url(/images/book-TK-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.gK {
    background: #fff url(/images/book-K-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.g1 {
    background: #fff url(/images/book-1-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.g2 {
    background: #fff url(/images/book-2-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.g3 {
    background: #fff url(/images/book-3-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.g4 {
    background: #fff url(/images/book-4-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.g5 {
    background: #fff url(/images/book-5-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.g6 {
    background: #fff url(/images/book-6-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.g7 {
    background: #fff url(/images/book-7-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.g8 {
    background: #fff url(/images/book-8-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.gX {
    background: #fff url(/images/book-X-te-icon.jpg) no-repeat left center;
    background-size: 90px;
}

.grade-icon {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}

.homeworklinks {
    display: block;
    font-size: 14px;
    padding: 3px 0 7px 0;
}

    .homeworklinks a {
        padding: 5px 7px 5px 0;
    }

th, td {
    font-size: 14px;
    padding: 3px 0px;
    vertical-align: top;
}

a:hover {
    font-size: 14px;
}

.sheet {
    padding: 1px 20px 0px 10px;
    padding-bottom: 15px;
    background: white;
}

#title {
    padding: 10px 0;
}

.site-title a {
    display: none;
    position: relative;
    top: 20px;
    left: 10px;
    font-family: Georgia,"Times New Roman", serif;
    color: #000;
    display: inline;
    text-shadow: 0 1px 1px #222;
    color: #FAFAFA;
    font-size: 60px;
    line-height: 40px;
    text-transform: none;
    font-weight: normal;
    text-decoration: none;
}

    .site-title a:link, .site-title a:hover, .site-title a:visited, .site-title a:active {
        display: none;
        color: white;
    }

#footer {
    text-align: center;
    color: #bdd997;
    padding: 10px 0;
    font-size: 14px;
}

.row li {
    font-size: 14px;
    padding: 1px 0
}

a, a:link, a:hover, a:visited, a:active {
    color: #337ab7;
}

h1 {
    color: #000000;
    padding-bottom: 10px;
}

h3 {
    padding-top: 10px;
}

.nav li {
    font-size: 14px;
}

th.center, td.center {
    text-align: center;
}

a.delStudent {
    color: #900;
}

select {
    color: black;
    font-size: 14px;
}

#addModal input {
    font-size: 14px;
}

#students td {
    vertical-align: middle;
}

.studentDetails {
    font-size: 11px;
}

/* custom added by Swun Math
img {
   height: auto;
   width: 340px;
}
*/
.span3 {
    width: 300px;
}

btn-color1, .btn-color1.btn-color1, a.btn-color1 {
    color: #fff !important;
    background-color: #37aed8;
}

btn-color2, .btn-color2.btn-color2, a.btn-color2 {
    color: #fff !important;
    background-color: #9f7c5b;
}

btn-color3, .btn-color3.btn-color3, a.btn-color3 {
    color: #fff !important;
    background-color: #5abe4e;
}

btn-color4, .btn-color4.btn-color4, a.btn-color4 {
    color: #fff !important;
    background-color: #ffb104;
}

local-menu, .local-menu {
    display: inline-block;
    vertical-align: top;
}

btn-color5, .btn-color5.btn-color5, a.btn-color5 {
    color: #fff !important;
    background-color: #6a767fc9;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px !important;
    height: 70px;
    line-height: 20px !important;
    padding: 3px;
    width: 100%;
    overflow: hidden;
}

    a.btn-color5:hover {
        background-color: #3e601b !important;
    }

a.btn-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

btn-color6, .btn-color6.btn-color6, a.btn-color6 {
    width: 28% !important;
    height: 50px !important;
}

links_1, .links_1.links_1, div.links_1 {
    height: 5px;
}

help-text, .help-text, help-text.help-text, a.help-text {
    font-size: 80%;
    padding: 1px;
    background: #ffff003d;
}

/* DivTable.com */
.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
    list-style: none;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    /*border: 1px solid #999999; */
    display: table-cell;
    /*padding: 3px 10px;*/
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

/*Added*/
ul.topmenu > li {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border-left: 1px solid rgba(0,0,0,.08);
}

