﻿
/* CSS Document */

html, body {
    max-width: 100%;
    overflow-x: hidden;
    z-index: 0;
    background: #fff !important;
}
body {
    margin: 0%;
}
h1, h2, p {
    margin: 0;
}
.row li {
    font-size: 14px;
    padding: 1px 0;
}
li {
    list-style: none;
}
.container {
    position: relative;
    width: 100%;
}
/*========================================================================*/
/*  Header
/*========================================================================*/
.TopIcons {
    min-height: 34px;
    background: #00462c;
    position: relative;
    width: 100%;
    top: 0%;
}
.twitter {
    padding-top: 5px;
    /*padding-left: 0px;*/
    padding-right: 20px; 
    position: inherit;
    float: right;
}
.linkedin {
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 25px;
    position: inherit;
    float: right;
}
.search {
    padding-top: 0px;
    /*padding-left: 10px;*/
     padding-right: 2px; 
    position: relative;
    float: right;
    text-decoration: none;
    color: #fff;
    font-size: 10px !important;
}
.topmenu > li a:hover {
    color: #fff !important;
    font-size: 10px !important;
    text-decoration: none;
}
ul > li a img {
    width: 85%;
    height: 85%;
}  
.logout {
    padding-top: 0px;
    /* padding-left: 5px; */
    padding-right: 2px;
    position: inherit;
    float: right;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}

#headertop, header {
    /*border-bottom: 1px solid rgba(0,0,0,.08*/
    border-bottom: 1px solid #f1e9e9;
    width: 100%;
    background: #fff;
}
#headertop{
    background-color: #00462c;
}
#headertop {
    /*background: #232b2d;*/
    padding: 0 0 0 10px;
    font-size: 11px;
    text-transform: uppercase;
    height: 40px;
}

#headertop .socialicons, .topmenu {
    float: right;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
ul.topmenu > li {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border-left: 1px solid rgba(0,0,0,.08);
}

/*.fa, .fa-stack, .select2-container {
    display: inline-block;
}*/

/*.fa, .glyphicon, [data-icon]:before {
    -moz-osx-font-smoothing: grayscale;
}*/

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 210px;
    margin-left: 200px;
    color: #737373;
    font-size: 16px !important;
}
.checkbox {
    /*margin-left: 200px !important;*/
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 210px;
    margin-left: 175px;
    font-size: 16px !important;
    font-weight: 600;
}
.btn-large {
    display: block;
    background-color: #79ac46;
    font-size: 16px !important;
    border-radius: 5px;
    transition: all .2s;
    text-shadow: none;
    padding: 15px;
    color: #fff;
    margin-left: 200px;
    margin-top: 10px;
    border: 0
}

/*Anchor Tag*/
    .clsanchor {
    text-decoration: underline;
    position: relative;
    color: #337ab7 !important;
}
a.blue:hover {
    color: #337ab7 !important;
}
a:hover {
    color: #fff !important;
}
.pclass {
    font-size: 15px;
    color: #337ab7 !important;
    margin-left: 200px;
    margin-top: 5px;
    /*margin-bottom: 50px;*/
}
#logo>a>img {
    width: 150px;
    height: 65px;
}
#logo {
    margin: 6px 0 0;
    padding: 0;
    transition: all .6s ease-in-out
}

#logo img {
    height: 65px;
    width: auto
}
#logo {
    padding-top: 5px;
}

#logo {
    padding-bottom: 5px;
}
.Login {
	position: relative;
	padding: 60px 250px;
	width: 60%;
}
#container {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #363;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    margin: 10px auto 50px;
    min-height: 290px;
    padding: 5px 10px; /*top right bottom left*/
    width: 850px;
}
.teachers_login{
  padding: 30px 0px 20px 200px;
	color: #282828;
	font-size: 35px;
	font-weight: 100;
}
#divError a {
    color: #fff !important;
    text-decoration: underline;
}
#divError a:hover {
    color: #fff !important;
    /*font-size: 10px !important;*/
    /*text-decoration: none;*/
}
/*input[type=email], input[type=text],
input[type=password] {
    width: 400px;
    margin-left: 200px;
    padding: 6px 20px 6px 0px;
    background-color: #ddd !important;
    display: inline-block;
    border: 1px solid #ddd !important;
    box-sizing: border-box;
}*/
.login {
    display: block;
    width: 420px;
    margin-left: 200px;
    padding: 6px 0px 6px 10px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    /*vertical-align: middle;*/
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    border: 1px solid #ddd !important;
    box-sizing: border-box;
}
.emaildanger {
    color: #b94a48;
    padding: 0 0 0 460px;
    font-weight: 300 !important;
}
.pwddanger {
    color: #b94a48;
    padding: 0 0 0 430px;
    font-weight: 300 !important;
}
/*input[type=email], input[type=text],
input[type=password]:focus {
    display: block;
    width: 390px;
    margin-left: 200px;
    padding: 6px 20px 6px 0px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    border: 1px solid #ddd !important;
    box-sizing: border-box;
}*/
input[type="text"], input[type="search"], input[type="radio"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], input[type="password"], input[type="checkbox"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], select, textarea {
    border: 1px solid #ddd !important;
}
label {
    margin-left: 200px !important;
    font-weight: bold;
    font-size: 16px !important;
    color: #313b3d;
    /*padding-bottom: 1px !important;*/
}



.size14 {
    font-size: 14px;
}
.btn-large {
    background-color: #79ac46;
    font-size: 16px !important;
    border-radius: 5px;
    transition: all .2s;
    text-shadow: none;
    padding: 15px;
    color: #fff;
    margin-left: 200px;
    margin-top: 10px;
    border: 0
}
@media (max-width:768px) {
    #trigger .lines, #trigger .lines::after, #trigger .lines::before {
        background: #444 none repeat scroll 0 0;
  }
}
/*========================================================================*/
/*   01. ALERT
/*========================================================================*/
.alert{padding:15px;color:#FFF;margin:15px 0}
.alert.alert-error{background:#d15b28}
.alert.alert-danger{background:#d13228}
.alert.alert-success{background:#78C8CE}
.alert.alert-block{background:#d6c72d}

.errorelement {
    color: white;
    text-decoration: underline;
}

/*========================================================================*/
/*  Footer
/*========================================================================*/
.footercontainer {
    /*border-top: 1px solid rgba(0,0,0,.08);*/
    position: relative;
}

#footerbottom, #footerbottom a {
    color: #ffffff;
}

#footerbottom, .boxed #footerbottom {
    background-color: #00462c;
}

#footerbottom {
    padding: 30px 0 20px 100px; /*top right bottom left*/
    font-size: 11px;
}

#footerbottom, .footertitle{
    text-transform: uppercase;
}
footer, .bbp-header, .bbp-footer, .boxed footer .container, footer .form_field, footer .input-text, footer .ninja-forms-field, footer .wpcf7 input.wpcf7-text, footer #s, footer .chosen-container.chosen-with-drop .chosen-drop, footer .chosen-container-active.chosen-with-drop .chosen-single, footer .chosen-container-single .chosen-single {
    background-color: #00462c;
}

footer, footer a, .footerwidget li a, footer .form_field, footer .input-text, footer .ninja-forms-field, footer .wpcf7 input.wpcf7-text, footer #s, .footerwidget .widget_course_list li h6, .footerwidget .widget_course_list li h6 span, footer .course-list1, footer .chosen-container.chosen-with-drop .chosen-drop, footer .chosen-container-active.chosen-with-drop .chosen-single, footer .chosen-container-single .chosen-single {
    color: #ffffff;
}

.footertitle, footer h4, footer a, .footerwidget ul li a {
    color: #444444;
}
#footerbottom, .boxed #footerbottom .container {
    background-color: #00462c;
}
#footerbottom, #footerbottom a {
    color: #ffffff;
}
#scrolltop a {
    color: #fff !important;
}
.gallery.columns4 > a {
    height: 200px;
    overflow: hidden;
}
footer .form_field, footer .input-text, footer .ninja-forms-field, footer .wpcf7 input.wpcf7-text, footer #s, footer .chosen-container.chosen-with-drop .chosen-drop, footer .chosen-container-active.chosen-with-drop .chosen-single, footer .chosen-container-single .chosen-single {
    border-color: #00462c;
}
/*========================================================================*/
/*  Menu
/*========================================================================*/
.main_menu .header_social_icon ul li {
    display: inline-block;
}

    /* line 42, /Applications/MAMP/htdocs/palash/cl/july 2019/191 Lifeleck Blog/191 Lifeleck Blog html/sass/_menu.scss */
    .main_menu .header_social_icon ul li a {
        color: #2a2a2a;
        padding-right: 15px;
        font-size: 13px;
    }

html, body {
    padding: 0px;
    margin: 0px;
    background: #fff;
    font-family: "Verdana","sans-serif" !important;
    width: 100vw;
}

    body * {
        margin: 0;
        padding: 0;
    }

/*Start EBooks list page styles*/

btn, .btn, btn.btn, a.btn {
    color: #fff !important;
    text-shadow: none;
    font-size: 16px !important;
    background-color: #79ac46;
    margin: 4px 2px 0px 0px;
    border-radius: 0px;
    transition: all .2s;
    padding: 5px 0 5px 0px !important;
}

.nav-justified > li {
    padding: 0 0 5px 0 !important;
}
/*a, a:link, a:hover, a:visited, a:active {
    color: #337ab7;
}*/
.nav-justified > li a:hover {
    background: #3e601b !important;
}
.list-group-sm > a:hover {
    color: #555 !important;
    font-size: 13px !important;
}
.list-group-sm > a:active {
    color: #555 !important;
    font-size: 13px !important;
}
.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.list-group-item-sm {
    padding: 3px 11px !important;
}
/*End EBooks list page styles*/
/* HTML Nav Styles */
/* HTML Nav Styles */
/* HTML Nav Styles */


