﻿@using SwunmathWeb.Helper
@model  SwunmathWeb.Models.User

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Teacher & Admin Login";
}

@if (ViewBag.ErrorMsg != null)
{
    var invalidCredentials = @ResourceManager.GetResourceErrorMsg("InvalidCredentials");
    <div></div>
    if (ViewBag.ErrorMsg == invalidCredentials)
    {
        <div id="divError" class="alert alert-error">
            @ResourceManager.GetResourceErrorMsg("InvalidCredentials"); <a href="https://swunmath.com/forgotPassword.php">clicking here to reset your password</a>
        </div>
    }
    else
    {
        <div id="divError" class="alert alert-error">
            @ViewBag.ErrorMsg;
        </div>
    }

}

@using (Html.BeginForm("TeacherLogin", "Account"))
{
    <div id="container">
        <div class="teachers_login">
            <h1 class="clear">Teacher & Admin Login</h1>
        </div>
        <label>Email</label><br>
        @Html.TextBoxFor(model => model.Email, new { @class = "login", title = "", autofocus = true })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "emaildanger" })<br>

        <label>Password</label><br>
        @Html.PasswordFor(model => model.Password, new { @class = "login", title = "" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "pwddanger" })
        <span class="help-block">No part of this website or any of its contents may be reproduced, copied, modified, adapted, commercially used, <strong>transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods</strong>. Distribution of the contents of the website is not allowed without express and prior written consent of Swun Math.</span>
        <lable class="checkbox"> &nbsp;By logging in I agree to these terms of use.</lable>
        <button class="btn-large">Login</button>
        <p class="pclass">
            <a href="https://swunmath.com/forgotPassword.php" class="clsanchor blue">Need help with your password?</a>
        </p>
    </div>

}
