﻿<div id="footerbottom">
    <div class="footercontainer">
        <div class="row">
            <div class="col-md-12">
                <div class="row" title="Shift-click to edit this widget.">
                    @*<div class="col-md-12" title="Shift-click to edit this widget.">Developing math minds for tomorrow. &nbsp; © 2010 - 2019 Swun Math, LLC. All Rights Reserved.</div>*@
                    <div class="col-md-12" title="Shift-click to edit this widget.">Developing math minds for tomorrow. &nbsp; © Swun Math, LLC. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</div>