﻿<div id="headertop">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="headertop_content">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="topmenu">
                    @if (User.Identity.IsAuthenticated && Session["Email"] != null)
                    {
                        <li>
                            <a id="lnkLogout" href="../Account/Logout" rel="nofollow" class="search">LOGOUT</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a id="lnkSearch" href="#" title="Search" class="clsanchor search">
                                <img src="~/Content/images/search.png">
                            </a>
                        </li>
                    }
                </ul>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company/swun-math" title="linkedIn" target="_blank" class="linkedin">
                            <img src="~/Content/images/linkedin.png" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/SwunMath" title="Twitter" target="_blank" class="twitter">
                            <img src="~/Content/images/twitter.png">
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated && Session["Email"] != null)
                    {
                        <li>
                            <a onclick="Javascript:ShowNoticeBoard();" title="Notice Board" class="twitter" style="cursor: pointer;" >
                                <img src="~/Content/images/NoticeboardIcon_small.png" style="height: 20px!Important;" />
                            </a>
                        </li>
                    }
                    </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h2 id="logo">
                <a href="https://math.swunmath.com/"><img src="~/Content/images/swunmath_logo.png" style="width:225px;"></a>
            </h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
        </div>
    </div>
</div>
<header>
    <div class="container">
    </div>
</header>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true" style="overflow:hidden;">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="overflow:hidden;width:75%">
        <div class="modal-content hpanel blackboard">
            <div class="modal-header panel-heading" style=" min-height: 55px; border: none;">
                <div style="width: 100%; text-align: center;"><span class="modal-title col-lg-11" id="myModalTitle" style="font-size: 20px;">Notices</span></div>
                <button type="button" class="close col-lg-1" data-dismiss="modal" aria-label="Close" style="top: 10px; position: absolute; right: 10px; color: #e8e8e8; opacity: 1; width: 20px; ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scrollBarStyle" style="max-height:80%;overflow:auto;border: 1px solid #e8e8e8;border-radius: 5px;margin-left: 5px;margin-right: 5px;padding: 12px;">
                @{ 
                    string hdnHasMessage = "Yes";


                    if (ViewBag.NoticeMessageHTML == null || ViewBag.NoticeMessageHTML == "")
                    {
                        ViewBag.NoticeMessageHTML = "No message available";
                        hdnHasMessage = "No";

                    }
                }
                 @Html.Raw(ViewBag.NoticeMessageHTML)
                    <input type="hidden" name="hdnNoticeBoardDisplayed" value="@Convert.ToString(ViewBag.NoticeMessageDisplayed)" id="hdnNoticeBoardDisplayed" />
                
                    <input type="hidden" name="hdnHasMessage" value="@hdnHasMessage" id="hdnHasMessage" />
                    <input type="hidden" name="hdnUserEmail" value="@Convert.ToString(Session["Email"])" id="hdnUserEmail" />
                </div>
            <div class="modal-footer" style="padding: 10px 10px 10px 10px; border: none; text-align: center; margin-top: 0px;">


                <button type="button" class="btn" data-dismiss="modal" style="padding-left: 20px !Important; padding-right: 20px !important; color: black !Important; background-color: #E8E8E8; font-size: 12px !Important;">Close</button>
            </div>
        </div>
    </div>
</div>



<style>
    /* latin */
    @@font-face {
        font-family: 'Walter Turncoat';
        font-style: normal;
        font-weight: 400;
        /*src: url(https://fonts.gstatic.com/s/walterturncoat/v19/snfys0Gs98ln43n0d-14ULoToe6LZxec.woff2) format('woff2');*/
        src: url(http://fonts.cdnfonts.com/css/callie-chalk-font);
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @@font-face {
        font-family: 'Callie Chalk Font';
        font-style: normal;
        font-weight: 400;
        src: local('Callie Chalk Font'), url('https://fonts.cdnfonts.com/s/31286/CallieChalkFont-Regular.woff') format('woff');
    }


    .blackboard {
        color: #E8E8E8;
        /*font-family: "Walter Turncoat", cursive;*/
        /*font-family: 'Callie Chalk Font', sans-serif;*/
        font-family: sans-serif;
        color: white;
        border: tan solid 12px;
        border-top: #bda27e solid 12px;
        border-left: #b19876 solid 12px;
        border-bottom: #c9ad86 solid 12px;
        box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
        background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
        background-color: #333;
        line-height: 30px;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    /*
                .blackboard:before {
                    box-sizing: border-box;
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient( 175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient( 200deg, transparent 80%, rgba(50, 50, 50, 0.3)), radial-gradient( ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent);
                    border: #2c2c2c solid 2px;
                    content: "Contact Us";
                    font-family: 'Permanent Marker', cursive;
                    font-size: 2.2em;
                    color: rgba(238, 238, 238, 0.7);
                    text-align: center;
                    padding-top: 20px;
                }*/

    .modal-content {
        /* 80% of window height */
        max-height: calc(95vh) !important;
        /*height: 95% !important;*/
    }

    .modal-dialog {
        /* 80% of window height */
        max-height: calc(100vh) !important;
        /*height: 100% !important;*/
    }

    .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        /*max-height: calc(100% - 100px) !important;*/
        /*height: calc(100% - 100px) !important;*/

        max-height: calc(100vh - 200px) !important;
        /*overflow-y: scroll;*/

        scrollbar-3dlight-color: gold;
        scrollbar-arrow-color: blue;
        /*scrollbar-base-color:;*/
        scrollbar-darkshadow-color: blue;
        /*scrollbar-face-color:;
        scrollbar-highlight-color:;
        scrollbar-shadow-color:;*/
    }


    .scrollBarStyle::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        border-radius: 10px;
        background-color: #292929;
        border: 1px solid #e8e8e8;
    }

    .scrollBarStyle::-webkit-scrollbar {
        width: 12px;
        background-color: transparent;
    }

    .scrollBarStyle::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        background-color: #e8e8e8;
    }
</style>



<script src="~/Content/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
<script src="~/Content/Scripts/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
    console.log('here');
    $(document).ready(function () {
        var hdnNoticeBoardDisplayedVal = $("#hdnNoticeBoardDisplayed").val()
        var hdnHasMessageVal = $("#hdnHasMessage").val()
        
        var hdnUserEmailVal = $("#hdnUserEmail").val()
        
        if (hdnNoticeBoardDisplayedVal.toUpperCase() != "TRUE" && hdnHasMessageVal.toUpperCase() =="YES") {
            ShowNoticeBoard();

            $.post("/Resources/FetchNoticeBoardMessages", function (data) {
                //alert(data);
            });


        }
        

    });

    function ShowNoticeBoard() {
        $("#modelDiv").remove();
        var div = document.createElement('div');
        div.id = "modelDiv_AddDistrict";
        div.innerHTML = "";
        document.body.appendChild(div);

        $('#myModal').modal('show');
        $('#myModal').on('shown.bs.modal', function () {


        });
        $('#myModal').on('hidden.bs.modal', function () {
            $(div).html("");
            $(div).remove();
        });


    }

</script>



