﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.ico" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
    @Styles.Render("~/bundles/wpStyles")
    <styles >
        
    </styles>
</head>
<body>
<!-- Header -->
<div id="header">
    @Html.Partial("_Header")
    @Html.Partial("_MenuHeader")
</div>

<!-- Main -->
<div class="container">
    @RenderBody()
</div>
    
<!-- Footer -->
<div id="footer">
    @Html.Partial("_Footer")
</div>
<!-- Include Scripts -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryVal")
@Scripts.Render("~/bundles/menuheader")
@RenderSection("scripts", required: false)

</body>
</html>
