﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.ico" />

    <title>@ViewBag.Title</title>

    @RenderSection("styles", required: false)
    @Styles.Render("~/bundles/styles")
    <styles>

    </styles>

</head>
<body>

    <!-- Include Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap/Js")
    @Scripts.Render("~/bundles/jqueryVal")
    @RenderSection("scripts", required: false)


    <!-- Header -->
    <div id="header">
        @Html.Partial("_Header")
    </div>

    <!-- Main -->
    <div class="container">
        @RenderBody()
    </div>

    <!-- Footer -->
    <div id="footer">
        @Html.Partial("_Footer")
    </div>


</body>
</html>
