﻿@using System.Configuration
@using Swunmath.Dal
@using Swunmath.Models
@using SwunmathWeb.Helper
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Resources";
    string gid = (string)ViewBag.guid;
}


<script>
    $(document).ready(function () {
        //alert('22')
        $("#HdnSiteURL").val("http://localhost:55229/");
    });

    function GetConfigData(gradePdfName) {
        var hdnVaue = $("#" + gradePdfName).val();
        $("#HdnConfig").val(hdnVaue);
    }

    function openEbookWithQueryString(ebookName, ebookIdInt)
    {
        // var userId = '@Session["UserID"]';
        // var accessToken = '@Session["guid"]';
        // var baseUrl = '@ConfigurationManager.AppSettings["eBookBaseUrl"]';

        // var ebookUrl = baseUrl + '/' + ebookName + '/' + 'index.html?uId=' + userId + '&accesstoken=' + accessToken + '&ebookId=' + ebookIdInt + '&type=T'; //type T = teacher book to differentiate the api call

        // window.open(ebookUrl);

		var userId = encodeURIComponent('@Session["UserID"]');
        var accessToken = encodeURIComponent('@Session["guid"]');
        var initApiCallUrl = encodeURIComponent('@ConfigurationManager.AppSettings["InitApiCallUrl"]');

        var baseUrl = '@ConfigurationManager.AppSettings["eBookBaseUrl"]';

        var ebookUrl = baseUrl + '/' + ebookName + '/' +
            'index.html?uId=' + userId +
            '&accesstoken=' + accessToken +
            '&ebookId=' + ebookIdInt +
            '&type=T' + //type T = teacher book to differentiate the api call
            '&initcallurl=' + initApiCallUrl;

        window.open(ebookUrl);
    }
</script>

<div class="container">
    <!--Nav Bar -->
    <div class="row">
        <div class="col-md-10">
            <ul class="nav nav-pills nav-justified">
                <li style="display: none;"><a class="btn" href="#">Math Tools</a></li>
                <li><a class="btn" href="https://swunmath.com/changePassword">Change Password</a></li>
                <li><a class="btn" href="https://swunmath.com/help">Help</a></li>
                <li><a class="btn" href="/Resources/ProfessionalDevelopment">Professional Development</a></li>
                <li style="display: none;"><a class="btn" href="#">Search</a></li>
                <li><a class="btn" href="/Account/Logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="sheet">
        <!-- Page title -->
        <div class="container">
            <div class="row">
                <!-- Page title -->
                <div class="col-md-12">
                    <h1>@ResourceManager.GetResourceMsg("ResourcesTitle")</h1>
                </div>
            </div>
        </div>
        <div class="container">
            @Html.Hidden("HdnConfig")
            @Html.Hidden("HdnSiteURL")

            @{
                if (ViewBag.Grades == null)
                {
                    <h1>@ResourceManager.GetResourceMsg("NoRecords")</h1>
                }
                else
                {
                    var lstGrade = (List<Grades>)ViewBag.Grades;
                    var lstSbc = Constants.SbcGradesList;
                    var lstGradeLevelA = Common.GetlstGradeLevelA();
                    var counter = 0;
                    var showSbc = false;
                    var show = false;
                    var eBookBaseUrl = Convert.ToString(ConfigurationManager.AppSettings["eBookBaseUrl"]);
                    var eBookUrl = "";
                    var lessonsLink = "https://swunmath.com/grade-ccss.php?g=";
                    var resourcesLink = "https://swunmath.com/ccss_resources?g=";
                    var assesmentsLink = "https://swunmath.com/grade-ccss-assessments.php?g=";
                    var sbcLink = "https://swunmath.com/sbc?g=";


                    var lsteBookConfigs = (List<eBook>)ViewBag.eBookConfigs;
                    var configData = "";

                    var btbfSiteUrl = ConfigurationManager.AppSettings["BTBFSiteUrl"] + Session["token"].ToString();

                    if (Session["Grade"].ToString().ToLower() == "a")
                    {

                    }
                    else
                    {

                    }

                    <div class="row">
                        @foreach (var item in lstGrade)
                        {
                            configData = "";
                            int ebookId = 0;

                            show = lstGradeLevelA.Contains(item.Grade);
                            if (show)
                            {
                                counter = counter + 1;
                                var bookSource = $"/Content/images/book-{item.Grade}-te.jpg";
                                eBookUrl = $"{eBookBaseUrl}grade{item.Grade}-TJ";
                                var gradePdfName = $"grade{ item.Grade}-TJ";

                                if (item.Grade != "K" && item.Grade != "TK")
                                {
                                    eBookUrl = $"{eBookBaseUrl}gradeG{item.Grade}-TJ";
                                    gradePdfName = $"gradeG{ item.Grade}-TJ";
                                }


                                foreach (var configs in lsteBookConfigs)
                                {
                                    if (configs.PdfPath.Equals(gradePdfName, StringComparison.OrdinalIgnoreCase))
                                    {
                                        configData = configs.ConfigString;
                                        ebookId = configs.Id;
                                        break;
                                    }
                                }

                                showSbc = lstSbc.Contains(item.Grade);
                                var gradelink = item.Grade + "&gid=" + gid;
                                var studentVideoLink = "https://swunmath.com/student-videos/video_setup.php?gid=" + gid;

                                var classroomUrl = ConfigurationManager.AppSettings["ClassroomSwunmathUrl"];

                                //string target = "_blank";
                                string target = "";

                                if (item.Grade == "TK")
                                {
                                    target = "";
                                    eBookUrl = "javascript:void(0);";
                                    //bookSource = "/Content/images/ComingSoon.png";
                                }

                                <div class="col-md-3">
                                    @*<a href="@eBookUrl" class="thumbnail" target="@target" onclick="GetConfigData('@gradePdfName')">
                                            <img src="@bookSource">
                                            @Html.Hidden(@gradePdfName, configData)
                                        </a>*@

                                    <a href="javascript:void(1);" class="thumbnail" target="@target" onclick="openEbookWithQueryString('@gradePdfName','@ebookId')">
                                        <img src="@bookSource">
                                        @*@Html.Hidden(@gradePdfName, configData)*@
                                    </a>

                                    <div class="list-group list-group-sm">
                                        <a href="@lessonsLink@gradelink" class="list-group-item list-group-item-sm">Lessons</a>
                                        <a href="@resourcesLink@gradelink" class="list-group-item list-group-item-sm">Resources</a>
                                        @*<a href="#" class="list-group-item list-group-item-sm">BTBF</a>*@
                                        @if (showSbc)
                                        {
                                            <a href="@sbcLink@gradelink" class="list-group-item list-group-item-sm">SBC</a>
                                        }
                                        <a href="https://swunmath.com/btbf.php?g=@gradelink" class="list-group-item list-group-item-sm">BTBF</a>
                                        @*<a href="@btbfSiteUrl" target="_blank" class="list-group-item list-group-item-sm">BTBF</a>*@
                                        <a href="@assesmentsLink@gradelink" class="list-group-item list-group-item-sm">Assessments</a>
                                        @*<a href="@studentVideoLink" class="list-group-item list-group-item-sm">Students</a>*@
                                        <a href="@classroomUrl" class="list-group-item list-group-item-sm">Classroom</a>
                                    </div>
                                </div>
                                if ((counter % 3) == 0)
                                {
                                    <div class="row"></div>
                                }
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

@*<style>
        /* latin */
        @@font-face {
            font-family: 'Walter Turncoat';
            font-style: normal;
            font-weight: 400;
            /*src: url(https://fonts.gstatic.com/s/walterturncoat/v19/snfys0Gs98ln43n0d-14ULoToe6LZxec.woff2) format('woff2');*/
            src: url(http://fonts.cdnfonts.com/css/callie-chalk-font);
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    @@font-face
        {
            font-family: 'Callie Chalk Font';
            font-style: normal;
            font-weight: 400;
            src: local('Callie Chalk Font'), url('https://fonts.cdnfonts.com/s/31286/CallieChalkFont-Regular.woff') format('woff');
        }


    .blackboard {
        color: #E8E8E8;
        /*font-family: "Walter Turncoat", cursive;*/
        font-family: 'Callie Chalk Font', sans-serif;
        color: white;
        border: tan solid 12px;
        border-top: #bda27e solid 12px;
        border-left: #b19876 solid 12px;
        border-bottom: #c9ad86 solid 12px;
        box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
        background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
        background-color: #333;
        line-height: 30px;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
        /*
                .blackboard:before {
                    box-sizing: border-box;
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient( 175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient( 200deg, transparent 80%, rgba(50, 50, 50, 0.3)), radial-gradient( ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent);
                    border: #2c2c2c solid 2px;
                    content: "Contact Us";
                    font-family: 'Permanent Marker', cursive;
                    font-size: 2.2em;
                    color: rgba(238, 238, 238, 0.7);
                    text-align: center;
                    padding-top: 20px;
                }*/

    .modal-content {
        /* 80% of window height */
        max-height: calc(95vh) !important;
        /*height: 95% !important;*/
    }

    .modal-dialog {
        /* 80% of window height */
        max-height: calc(100vh) !important;
        /*height: 100% !important;*/
    }

    .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        /*max-height: calc(100% - 100px) !important;*/
        /*height: calc(100% - 100px) !important;*/

        max-height: calc(100vh - 200px) !important;
        /*overflow-y: scroll;*/

        scrollbar-3dlight-color: gold;
        scrollbar-arrow-color: blue;
        /*scrollbar-base-color:;*/
        scrollbar-darkshadow-color: blue;
        /*scrollbar-face-color:;
        scrollbar-highlight-color:;
        scrollbar-shadow-color:;*/
    }


    .scrollBarStyle::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        border-radius: 10px;
        background-color: #292929;
        border: 1px solid #e8e8e8;
    }

    .scrollBarStyle::-webkit-scrollbar {
        width: 12px;
        background-color: transparent;
    }

    .scrollBarStyle::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        background-color: #e8e8e8;
    }

</style>*@

@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true" style="overflow:hidden;">
    <div class="modal-dialog modal-dialog-scrollable" role="document"  style="overflow:hidden;width:75%">
        <div class="modal-content hpanel blackboard">
            <div class="modal-header panel-heading" style=" min-height: 55px; border: none;">
                <div style="width: 100%; text-align: center;"><span class="modal-title col-lg-11" id="myModalTitle" style="font-size: 20px;">Notice Board</span></div>
                <button type="button" class="close col-lg-1" data-dismiss="modal" aria-label="Close" style="top: 10px; position: absolute; right: 10px; color: #e8e8e8; opacity: 1; width: 20px; ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scrollBarStyle" style="max-height:80%;overflow:auto;border: 1px solid #e8e8e8;border-radius: 5px;margin-left: 5px;margin-right: 5px;padding: 12px;">
                @Html.Raw(ViewBag.NoticeMessageHTML)

            </div>
            <div class="modal-footer" style="padding: 10px 10px 10px 10px; border: none; text-align: center; margin-top: 0px;">


                <button type="button" class="btn" data-dismiss="modal" style="padding-left: 20px !Important; padding-right: 20px !important; color: black !Important; background-color: #E8E8E8; font-size: 12px !Important;">Close</button>
            </div>
        </div>
    </div>
</div>*@

@section styles
{

}

@section Scripts
{


    @*<script type="text/javascript">
        console.log('here');
        $(document).ready(function () {
            alert('33')
            $("#modelDiv").remove();
            var div = document.createElement('div');
            div.id = "modelDiv_AddDistrict";
            div.innerHTML = "test";
            document.body.appendChild(div);

            $('#myModal').modal('show');
            $('#myModal').on('shown.bs.modal', function () {


            });
            $('#myModal').on('hidden.bs.modal', function () {
                $(div).html("");
                $(div).remove();
            });

        });

    </script>*@

}
