﻿@{
Layout = "";
    string UserGradeShortName = Convert.ToString(Session["Grade"]);
    string SwunmathWP_AccessToken = Convert.ToString(Session["guid"]);
}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="https://math.swunmath.com/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://math.swunmath.com/css/bootstrap.min.css">
    <link href="https://math.swunmath.com/css/all.css" rel="stylesheet">
    <link href="https://math.swunmath.com/css/owl.carousel.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://math.swunmath.com/css/switcher.css"> -->
    <link rel="stylesheet" href="https://math.swunmath.com/rs-plugin/css/settings.css">
    <!-- Jquery Fancybox CSS -->
    <link rel="stylesheet" type="text/css" href="https://math.swunmath.com/css/jquery.fancybox.min.css" media="screen" />
    <link href="https://math.swunmath.com/css/animate.css" rel="stylesheet">
    <link href="https://math.swunmath.com/css/style.css" rel="stylesheet" id="colors">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Swunmath</title>


    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

            .active, .accordion:hover {
                background-color: #ccc;
            }

        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }






        [data-toggle="collapse"] i:before {
            content: "\f068";
        }

        [data-toggle="collapse"].collapsed i:before {
            content: "\f067";
        }

        #accordion .card-header {
            margin-top: 10px;
        }

        #accordion .accordion-title {
            position: relative;
            display: block;
            padding: 3px 0 3px 40px;
            background: #228b22;
            border-radius: 8px;
            overflow: hidden;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            width: 100%;
            text-align: left;
            transition: all 0.4s ease-in-out;
        }

            #accordion .accordion-title i {
                position: absolute;
                width: 30px;
                height: 100%;
                left: 0;
                top: 0;
                color: #fff;
                /*background: radial-gradient(rgba(33, 55, 68, .8), #213744);*/
                background: darkgreen;
                text-align: center;
                border-right: 1px solid transparent;
            }

            #accordion .accordion-title:hover {
                padding-left: 60px;
                background: radial-gradient(#58bc08, #228b22);
                color: #fff;
            }

                #accordion .accordion-title:hover i {
                    /*border-right: 1px solid #fff;*/
                }

        #accordion .accordion-body {
            /* padding: 40px 55px; */
            padding: 10px 0px 4px 15px;
            margin: -8px 0px 8px 6px;
            background-color: lightgray;
            border-radius: 5px;
        }

            #accordion .accordion-body ul {
                list-style: none;
                margin-left: 0;
                padding-left: 0;
            }

            #accordion .accordion-body li {
                padding-left: 1.2rem;
                text-indent: -1.2rem;
            }

                #accordion .accordion-body li:before {
                    content: "\f10a";
                    padding-right: 5px;
                    font-family: "Flaticon";
                    font-size: 16px;
                    font-style: normal;
                    color: #213744;
                }





        #accordion1 .card-header {
            margin-top: 10px;
        }

        #accordion1 .accordion-title {
            position: relative;
            display: block;
            padding: 3px 0 3px 40px;
            background: #228b22;
            border-radius: 8px;
            overflow: hidden;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            width: 100%;
            text-align: left;
            transition: all 0.4s ease-in-out;
        }

            #accordion1 .accordion-title i {
                position: absolute;
                width: 30px;
                height: 100%;
                left: 0;
                top: 0;
                color: #fff;
                background: darkgreen;
                text-align: center;
                border-right: 1px solid transparent;
            }

            #accordion1 .accordion-title:hover {
                padding-left: 60px;
                background: radial-gradient(#58bc08, #228b22);
                color: #fff;
            }

                #accordion1 .accordion-title:hover i {
                    /*border-right: 1px solid #fff;*/
                }

        #accordion1 .accordion-body {
            /* padding: 40px 55px; */
            padding: 10px 0px 4px 15px;
            margin: -8px -0px 8px 6px;
            background-color: lightgray;
            border-radius: 5px;
        }

            #accordion1 .accordion-body ul {
                list-style: none;
                margin-left: 0;
                padding-left: 0;
            }

            #accordion1 .accordion-body li {
                padding-left: 1.2rem;
                text-indent: -1.2rem;
            }

                #accordion1 .accordion-body li:before {
                    content: "\f10a";
                    padding-right: 5px;
                    font-family: "Flaticon";
                    font-size: 16px;
                    font-style: normal;
                    color: #213744;
                }



        #accordion2 .card-header {
            margin-top: 10px;
        }

        #accordion2 .accordion-title {
            position: relative;
            display: block;
            padding: 3px 0 3px 40px;
            background: #228b22;
            border-radius: 8px;
            overflow: hidden;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            width: 100%;
            text-align: left;
            transition: all 0.4s ease-in-out;
        }

            #accordion2 .accordion-title i {
                position: absolute;
                width: 30px;
                height: 100%;
                left: 0;
                top: 0;
                color: #fff;
                background: darkgreen;
                text-align: center;
                border-right: 1px solid transparent;
            }

            #accordion2 .accordion-title:hover {
                padding-left: 60px;
                background: radial-gradient(#58bc08, #228b22);
                color: #fff;
            }

                #accordion2 .accordion-title:hover i {
                    /*border-right: 1px solid #fff;*/
                }

        #accordion2 .accordion-body {
            /* padding: 40px 55px; */
            padding: 10px 0px 4px 15px;
            margin: -8px 0px 8px 6px;
            background-color: lightgray;
            border-radius: 5px;
        }

            #accordion2 .accordion-body ul {
                list-style: none;
                margin-left: 0;
                padding-left: 0;
            }

            #accordion2 .accordion-body li {
                padding-left: 1.2rem;
                text-indent: -1.2rem;
            }

                #accordion2 .accordion-body li:before {
                    content: "\f10a";
                    padding-right: 5px;
                    font-family: "Flaticon";
                    font-size: 16px;
                    font-style: normal;
                    color: #213744;
                }


        .loginWrp {
            border-top: 1px solid #228b22;
            margin-top: 0px !important;
            padding-top: 10px !important;
        }
		
		.container
		{
		padding-left: 5px !important;
		padding-right: 5px !important;
		}
		
    </style>
</head>
<body>


    <!--Header Start-->
    <div class="header-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-light" style="padding-right:10px;">
                    <div class="logo"> <a href="https://math.swunmath.com/index.html"><img alt="" class="logo-default" src="https://math.swunmath.com/images/logo.png"></a></div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                </div>
                <div class="col-lg-6 col-md-12" style="padding: 10px 0px 10px 0px;">
                    <div class="navigation-wrap" id="filters">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#">Menu</a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <button class="close-toggler" type="button" data-toggle="offcanvas"> <span><i class="fa fa-times-circle" aria-hidden="true"></i></span> </button>
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item"> <a class="nav-link" href="https://teacher.swunmath.com/Resources/EBooksList">Teacher Resources </a> </li>
                                    <li class="nav-item"><a class="nav-link" href="https://swunmath.com/changePassword?g=@UserGradeShortName&gid=@SwunmathWP_AccessToken">Change Password</a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://swunmath.com/help?g=@UserGradeShortName&gid=@SwunmathWP_AccessToken">Help</a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://swunmath.com/logout.php?g=@UserGradeShortName&gid=@SwunmathWP_AccessToken">Logout</a></li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="header_info">
                        <!-- <div class="search"><a href="#"><i class="fa fa-search"></i></a></div> -->
                        <div class="loginwrp"><a href="https://math.swunmath.com/contact.html">Contact Us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Header End-->
    <!-- Inner Heading Start -->
    <div class="innerHeading-wrap-darkblue innerHeading-wrap">
        <div class="container">
            <h1 style="text-transform: capitalize; text-shadow: 3px 3px black; font-weight: 700;">Professional Development</h1>
        </div>
    </div>
    <!-- Inner Heading End -->
    <!-- Services Start -->
    <div class="about-wrap" id="about">
        <div class="container" style="margin-top: -35px;">
            <div class="row">


                <div class="col-lg-4">
                    <img src="https://math.swunmath.com/images/videos_2.jpeg" style="opacity: .9; border-radius: 5px; height:233px;" />
                    <h4 style="text-align:center; padding-top: 10px;">Videos</h4>
                    <div class="container">
                        <div id="accordion" class="py-5" style="margin-top:-58px;">
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-240">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-240" aria-expanded="false" aria-controls="#collapse-240"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>BTBF</button>
                                </div>
                                <div id="collapse-240" class="collapse " aria-labelledby="heading-240" data-parent="#accordion">
                                    <div class="card-body accordion-body">
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_GK_T1_Addition.mp4" target="_blank" title="A video about BTBF for Kindergarten.">Grade K Numbers 0-10 (Trimester 1)</a><br /> <!--Grade K Addition (Trimester 1), Grade K Numbers 0-1(Trimester 1)-->
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_G1_T1_Addition.mp4" target="_blank" title="A video about BTBF for Grade 1 addition.">Grade 1 Addition (Trimester 1)</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_G2_T1_Addition.mp4" target="_blank" title="A video about BTBF for Grade 2 addition.">Grade 2 Addition (Trimester 1)</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_G3_Addition.mp4" target="_blank" title="A video about BTBF for Grade 3+ addition.">Grade 3+ Addition</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_G3_Multiplication.mp4" target="_blank" title="A video about BTBF for Grade 3+ multiplication.">Grade 3+  Multiplication</a><br />
                                    </div>
                                </div>
                            </div>
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-241">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-241" aria-expanded="false" aria-controls="#collapse-241"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Lesson Design</button>
                                </div>
                                <div id="collapse-241" class="collapse " aria-labelledby="heading-241" data-parent="#accordion">
                                    <div class="card-body accordion-body">
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Procedural_GK-1.mp4" target="_blank">Grades K-1 Procedural</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Conceptual_GK-2.mp4" target="_blank">Grades K-2 Conceptual</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Procedural_G2-8.mp4" target="_blank">Grades 2+ Procedural</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Conceptual_G3-8.mp4" target="_blank">Grades 3+ Conceptual</a><br />
                                    </div>
                                </div>
                            </div>
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-242">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-242" aria-expanded="false" aria-controls="#collapse-242"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Other</button>
                                </div>
                                <div id="collapse-242" class="collapse " aria-labelledby="heading-242" data-parent="#accordion">
                                    <div class="card-body accordion-body">
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/What_is_Swun_Math.mp4" target="_blank" title="A video about Swun Math.">What is Swun Math?</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <img src="https://math.swunmath.com/images/webinar.jpeg" style="opacity: .9; border-radius: 5px;" />
                    <h4 style="text-align: center; padding-top: 10px; color: black;">Webinars</h4>

                    <div class="container">
                        <div id="accordion1" class="py-5" style="margin-top:-58px;">
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-243">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-243" aria-expanded="false" aria-controls="#collapse-243"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Primary</button>
                                </div>
                                <div id="collapse-243" class="collapse" aria-labelledby="heading-243" data-parent="#accordion1">
                                    <div class="card-body accordion-body">
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/Primary_Webinar_1.mp4" target="_blank">Conceptual vs. Procedural</a><br />
										
										<a href="https://swunvideos.s3.amazonaws.com/professional_development/Primary_Webinar_2.mp4" target="_blank">Foundational Skills</a><br />
										
										<a href="https://swunvideos.s3.amazonaws.com/professional_development/Primary_Webinar_3.mp4" target="_blank">Application Resources & Group Math Tasks</a><br />
										
										<a href="https://swunvideos.s3.amazonaws.com/professional_development/Primary_Webinar_4.mp4" target="_blank">Journaling & Mathematical Practices</a><br />
                                    </div>
                                </div>
                            </div>
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-244">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-244" aria-expanded="false" aria-controls="#collapse-244"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Upper Elementary</button>
                                </div>
                                <div id="collapse-244" class="collapse " aria-labelledby="heading-244" data-parent="#accordion1">
                                    <div class="card-body accordion-body">
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/UpperElementary_Webinar_1.mp4" target="_blank">Conceptual vs. Procedural</a><br />
										
										<a href="https://swunvideos.s3.amazonaws.com/professional_development/UpperElementary_Webinar_2.mp4" target="_blank">Foundational Skills</a><br />
										
										<a href="https://swunvideos.s3.amazonaws.com/professional_development/UpperElementary_MiddleSchool_Webinar_3.mp4" target="_blank">SBAC Data Review Protocol</a><br />
										
										<a href="https://swunvideos.s3.amazonaws.com/professional_development/UpperElementary_MiddleSchool_Webinar_4.mp4" target="_blank">Application Resources</a><br />
                                    </div>
                                </div>
                            </div>
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-245">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-245" aria-expanded="false" aria-controls="#collapse-245"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Middle School</button>
                                </div>
                                <div id="collapse-245" class="collapse " aria-labelledby="heading-245" data-parent="#accordion1">
                                    <div class="card-body accordion-body">
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/MiddleSchool_Webinar_1.mp4" target="_blank">Conceptual vs. Procedural</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/MiddleSchool_Webinar_2.mp4" target="_blank">Problem of the Day</a><br />
										
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/UpperElementary_MiddleSchool_Webinar_3.mp4" target="_blank">SBAC Data Review Protocol</a><br />
										
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/UpperElementary_MiddleSchool_Webinar_4.mp4" target="_blank">Application Resources</a><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-lg-4">
                    <img src="https://math.swunmath.com/images/handout.jpeg" style="opacity: .9; border-radius: 5px;" />
                    <h4 style="text-align: center; padding-top: 10px; color: black;">Inservice Handouts</h4>

                    <div class="container">
                        <div id="accordion2" class="py-5" style="margin-top:-58px;">
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-246">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-246" aria-expanded="false" aria-controls="#collapse-246"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Grade K-1</button>
                                </div>
                                <div id="collapse-246" class="collapse " aria-labelledby="heading-246" data-parent="#accordion2">
                                    <div class="card-body accordion-body">
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_G3_Addition_Properties_of_Add.pdf" target="_blank" title="Instructional recommendations for the properties of addition.">Addition Properties</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_GK_T1_Addition_Reflection.pdf" target="_blank" title="A notetaking sheet to accompany the PD.">BTBF Reflection Notes (K) </a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_G1_T1_Addition_Reflection.pdf" target="_blank" title="A notetaking sheet to accompany the PD.">BTBF Reflection Notes (G1) </a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Conceptual_GK-2_Reflection.pdf" target="_blank" title="A notetaking sheet to accompany the PD.">Conceptual Reflection Notes</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Conceptual_GK-2_Lesson_Design.pdf" target="_blank">Conceptual Lesson Design</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Procedural_GK-1_Reflection.pdf" target="_blank" title="A notetaking sheet to accompany the PD.">Procedural Reflection Notes</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Procedural_GK-1_Lesson_Design.pdf" target="_blank">Procedural Lesson Design</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Procedural_GK-1_Share.pdf" target="_blank" title="A guide to help teachers phase in the ‘Share’ routine.">Phasing in Share</a><br />
                                    </div>
                                </div>
                            </div>
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-247">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-247" aria-expanded="false" aria-controls="#collapse-247"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Grade 2</button>
                                </div>
                                <div id="collapse-247" class="collapse " aria-labelledby="heading-247" data-parent="#accordion2">
                                    <div class="card-body accordion-body">
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_G3_Addition_Properties_of_Add.pdf" target="_blank" title="Instructional recommendations for the properties of addition.">Addition Properties</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_G2_T1_Addition_Reflection.pdf" target="_blank" title="A notetaking sheet to accompany the PD.">BTBF Reflection Notes</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Conceptual_GK-2_Reflection.pdf" target="_blank" title="A notetaking sheet to accompany the PD.">Conceptual Reflection Notes</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Conceptual_GK-2_Lesson_Design.pdf" target="_blank">Conceptual Lesson Design</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Procedural_G2-8_Reflection.pdf" target="_blank" title="A notetaking sheet to accompany the PD.">Procedural Reflection Notes</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Procedural_G2-8_Lesson_Design.pdf" target="_blank">Procedural Lesson Design</a><br />
                                    </div>
                                </div>
                            </div>
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-248">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-248" aria-expanded="false" aria-controls="#collapse-248"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Grade 3+</button>
                                </div>
                                <div id="collapse-248" class="collapse " aria-labelledby="heading-248" data-parent="#accordion2">
                                    <div class="card-body accordion-body">
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_G3_Addition_Reflection.pdf" target="_blank" title="A notetaking sheet to accompany the PD.">Addition Reflection Notes</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_G3_Multiplication_Reflection.pdf" target="_blank" title="A notetaking sheet to accompany the PD.">Multiplication Reflection Notes</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Conceptual_G3-8_Reflection.pdf" target="_blank" title="A notetaking sheet to accompany the PD.">Conceptual Reflection Notes</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/LD_Conceptual_G3-8_Lesson_Design.pdf" target="_blank">Conceptual Lesson Design</a><br />
                                    </div>
                                </div>
                            </div>
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-249">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-249" aria-expanded="false" aria-controls="#collapse-249"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>All Grades</button>
                                </div>
                                <div id="collapse-249" class="collapse " aria-labelledby="heading-249" data-parent="#accordion2">
                                    <div class="card-body accordion-body">
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/Articulation_Considerations.pdf" target="_blank" title="Helpful tips and things to keep in mind when making your Lesson.">Lesson design teacher questioning and student response suggestions.</a><br />
                                        <a href="https://swunvideos.s3.amazonaws.com/professional_development/BTBF_Operation_Strategies_Matrix.pdf" target="_blank" title="A list of math strategies taught by grade level.">Operation Strategies Matrix</a><br />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Services End -->
    <!-- Footer Start -->
    <div class="footer-wrap" style="display: none">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                    <div class="footer_logo" style="text-align: center;">
                        <div style="border-radius: 25px;background-color: white;text-align: center;padding: 10px 0px 10px 0px;width: 190px;">
                            <img alt="" class="footer-default" src="https://math.swunmath.com/images/logo.png" style="height: 50px;">
                        </div>
                    </div>

                    <p>We make math approachable for teachers and achievable for students. Our professional development for teachers, paired with comprehensive lesson design, leads to results you can see in the classroom.</p>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h3>Quick Links</h3>
                    <ul class="footer-links">
                        <li> <a href="https://math.swunmath.com/index.html">HOME</a></li>
                        <li> <a href="https://math.swunmath.com/about.html">ABOUT</a></li>
                        <li> <a href="https://math.swunmath.com/districts.html">SERVICES</a></li>
                        <li> <a href="https://btbf.swunmath.com/facts/multiply">FACTS PRACTICE</a></li>
                        <li> <a href="https://math.swunmath.com/contact.html">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h3>Download our App</h3>
                    <ul class="unorderList hourswrp">
                        <li>SwunMath App</li>
                        <li>
                            <a href="https://apps.apple.com/jo/app/swunmath/id474920421" target="_blank" rel="noopener"><img class="app lazy-loaded" style="height: 45px; margin-bottom: 15px;" src="http://swunmath.com/wp-content/uploads/2021/09/App-Store-Badge.png" data-lazy-type="image" data-src="http://swunmath.com/wp-content/uploads/2021/09/App-Store-Badge.png" width="152"><noscript><img class="app" style="height: 45px; margin-bottom: 15px;" src="http://swunmath.com/wp-content/uploads/2021/09/App-Store-Badge.png" width="152" /></noscript></a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.swunmath.app&amp;hl=en_US&amp;gl=US" target="_blank" rel="noopener"><img class="app lazy-loaded" style="height: 44px; margin-bottom: 15px;" src="http://swunmath.com/wp-content/uploads/2021/09/Google-Play-Badge-1.png" data-lazy-type="image" data-src="http://swunmath.com/wp-content/uploads/2021/09/Google-Play-Badge-1.png" width="152"><noscript><img class="app" style="height: 44px; margin-bottom: 15px;" src="http://swunmath.com/wp-content/uploads/2021/09/Google-Play-Badge-1.png" width="152" /></noscript></a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="footer_info">
                        <h3>Contact Us</h3>
                        <ul class="footer-adress">
                            <li class="footer_email"> <i class="fa fa-envelope" aria-hidden="true"></i> <span><a href="mailto:info@swunmath.com"> info@swunmath.com</a></span> </li>
                            <li class="footer_phone"> <i class="fa fa-phone-alt"></i> <span><a href="tel:7146001130"> (714) 600-1130</a></span> </li>
                        </ul>
                        <div class="social-icons footer_icon">
                            <ul>

                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer End -->
    <!--Copyright Start-->
    <div class="footer-bottom text-center" style="display:none;">
        <div class="container">
            <div class="copyright-text">Copyright © Swunmath. All Rights Reserved.</div>
        </div>
    </div>
    <!--Copyright End-->
    <!--Copyright Blue Start-->
    <div class="footer-bottom-blue text-center">
        <div class="container">
            <div class="copyright-text-white">Copyright © Swunmath. All Rights Reserved.</div>
        </div>
    </div>
    <!--Copyright Blue End-->
    <!-- Js -->
    <script src="https://math.swunmath.com/js/jquery.min.js"></script>
    <script src="https://math.swunmath.com/js/bootstrap.min.js"></script>
    <script src="https://math.swunmath.com/js/popper.min.js"></script>
    <script src="https://math.swunmath.com/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="https://math.swunmath.com/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Jquery Fancybox -->
    <script src="https://math.swunmath.com/js/jquery.fancybox.min.js"></script>
    <!-- Animate js -->
    <script src="https://math.swunmath.com/js/animate.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- WOW file -->
    <script src="https://math.swunmath.com/js/wow.js"></script>
    <!-- general script file -->
    <script src="https://math.swunmath.com/js/owl.carousel.js"></script>
    <script src="https://math.swunmath.com/js/script.js"></script>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }


        var acc1 = document.getElementsByClassName("accordion1");
        var i1;

        for (i1 = 0; i1 < acc.length; i1++) {
            acc[i1].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }


        var acc2 = document.getElementsByClassName("accordion2");
        var i2;

        for (i2 = 0; i2 < acc.length; i2++) {
            acc[i2].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }

    </script>

</body>
</html>