﻿@{
    Layout = "";
    string UserGradeShortName = Convert.ToString(Session["Grade"]);
    string SwunmathWP_AccessToken = Convert.ToString(Session["guid"]);

    string correctPwd = "Summer2022";
    string providedPwd = "";
    //providedPwd = Convert.ToString(Session["SummerSchoolPagePassword"]);
    if (ViewBag.providedPwd != null)
    {
        providedPwd = Convert.ToString(ViewBag.providedPwd);
    }

}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="https://math.swunmath.com/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://math.swunmath.com/css/bootstrap.min.css">
    <link href="https://math.swunmath.com/css/all.css" rel="stylesheet">
    <link href="https://math.swunmath.com/css/owl.carousel.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://math.swunmath.com/css/switcher.css"> -->
    <link rel="stylesheet" href="https://math.swunmath.com/rs-plugin/css/settings.css">
    <!-- Jquery Fancybox CSS -->
    <link rel="stylesheet" type="text/css" href="https://math.swunmath.com/css/jquery.fancybox.min.css" media="screen" />
    <link href="https://math.swunmath.com/css/animate.css" rel="stylesheet">
    <link href="https://math.swunmath.com/css/style.css" rel="stylesheet" id="colors">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Swunmath</title>


    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

            .active, .accordion:hover {
                /*background-color: #ccc;*/
            }

        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }






        [data-toggle="collapse"] i:before {
            content: "\f068";
        }

        [data-toggle="collapse"].collapsed i:before {
            content: "\f067";
        }







        .accordionClass .card-header {
            margin-top: 10px;
        }

        .accordionClass .accordion-title {
            position: relative;
            display: block;
            padding: 3px 0 3px 40px;
            background: #228b22;
            border-radius: 8px;
            overflow: hidden;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            width: 100%;
            text-align: left;
            transition: all 0.4s ease-in-out;
        }

            .accordionClass .accordion-title i {
                position: absolute;
                width: 30px;
                height: 100%;
                left: 0;
                top: 0;
                color: #fff;
                background: darkgreen;
                text-align: center;
                border-right: 1px solid transparent;
            }

            .accordionClass .accordion-title:hover {
                padding-left: 60px;
                background: radial-gradient(#58bc08, #228b22);
                color: #fff;
            }

                .accordionClass .accordion-title:hover i {
                    /*border-right: 1px solid #fff;*/
                }

        .accordionClass .accordion-body {
            /* padding: 40px 55px; */
            padding: 10px 0px 4px 15px;
            margin: -8px 0px 8px 6px;
            background-color: lightgray;
            border-radius: 5px;
        }

            .accordionClass .accordion-body ul {
                list-style: none;
                margin-left: 0;
                padding-left: 0;
            }

            .accordionClass .accordion-body li {
                padding-left: 1.2rem;
                text-indent: -1.2rem;
            }

                .accordionClass .accordion-body li:before {
                    content: "\f10a";
                    padding-right: 5px;
                    font-family: "Flaticon";
                    font-size: 16px;
                    font-style: normal;
                    color: #213744;
                }


        .loginWrp {
            border-top: 1px solid #228b22;
            margin-top: 0px !important;
            padding-top: 10px !important;
        }

        .container {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
    </style>
</head>
<body>


    <!--Header Start-->
    <div class="header-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-light" style="padding-right:10px;">
                    <div class="logo"> <a href="https://math.swunmath.com/index.html"><img alt="" class="logo-default" src="https://math.swunmath.com/images/logo.png"></a></div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                </div>
                <div class="col-lg-6 col-md-12" style="padding: 10px 0px 10px 0px;">
                    <div class="navigation-wrap" id="filters">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#">Menu</a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <button class="close-toggler" type="button" data-toggle="offcanvas"> <span><i class="fa fa-times-circle" aria-hidden="true"></i></span> </button>
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item"> <a class="nav-link" href="https://teacher.swunmath.com/Resources/EBooksList">Teacher Resources </a> </li>
                                    <li class="nav-item"><a class="nav-link" href="https://swunmath.com/changePassword?g=@UserGradeShortName&gid=@SwunmathWP_AccessToken">Change Password</a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://swunmath.com/help?g=@UserGradeShortName&gid=@SwunmathWP_AccessToken">Help</a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://swunmath.com/logout.php?g=@UserGradeShortName&gid=@SwunmathWP_AccessToken">Logout</a></li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="header_info">
                        <!-- <div class="search"><a href="#"><i class="fa fa-search"></i></a></div> -->
                        <div class="loginwrp"><a href="https://math.swunmath.com/contact.html">Contact Us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Header End-->
    <!-- Inner Heading Start -->
    <div class="innerHeading-wrap-darkblue innerHeading-wrap">
        <div class="container">
            <h1 style="text-transform: capitalize; text-shadow: 3px 3px black; font-weight: 700;">Summer School</h1>
        </div>
    </div>
    <!-- Inner Heading End -->
    <!-- Services Start -->


    <div class="about-wrap" id="about">
        <div class="container" style="margin-top: -35px;">
            <div class="row">

                <div class="col-lg-12"><h3>Scope & Sequence</h3></div>
                <div class="col-lg-12"><p>Each Scope & Sequence contains links to fluency practice and the instructional video for each lesson.</p></div>
                <br>
                <div class="col-lg-3">
                    <img src="https://math.swunmath.com/images/SummerSchool1.jpg" style="opacity: .9; border-radius: 5px; " />
                    <h4 style="text-align:center; padding-top: 10px;">6-Week Program</h4>
                    <div class="container">
                        <div class="py-5 accordionClass" style="margin-top:-58px;">
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-240">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-240" aria-expanded="false" aria-controls="#collapse-240"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Details</button>
                                </div>
                                <div id="collapse-240" class="collapse accordionClassChild" aria-labelledby="heading-240">
                                    <div class="card-body accordion-body">
                                        @if (correctPwd == providedPwd)
                                        {
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/GKPacing(6Week)_web.pdf" target="_blank" title="Incoming Kindergarten">Incoming Kindergarten</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G1Pacing(6Week)_web.pdf" target="_blank">Incoming Grade 1</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G2Pacing(6Week)_web.pdf" target="_blank">Incoming Grade 2</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G3Pacing(6Week)_web.pdf" target="_blank">Incoming Grade 3</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G4Pacing(6Week)_web.pdf" target="_blank">Incoming Grade 4</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G5Pacing(6Week)_web.pdf" target="_blank">Incoming Grade 5</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G6Pacing(6Week)_web.pdf" target="_blank">Incoming Grade 6</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G7Pacing(6Week)_web.pdf" target="_blank">Incoming Grade 7</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G8Pacing(6Week)_web.pdf" target="_blank">Incoming Grade 8</a><br />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3">
                    <img src="https://math.swunmath.com/images/SummerSchool2.jpg" style="opacity: .9; border-radius: 5px;" />
                    <h4 style="text-align: center; padding-top: 10px; color: black;">5-Week Program</h4>

                    <div class="container">
                        <div class="py-5 accordionClass" style="margin-top:-58px;">
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-243">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-243" aria-expanded="false" aria-controls="#collapse-243"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Details</button>
                                </div>
                                <div id="collapse-243" class="collapse accordionClassChild" aria-labelledby="heading-243">
                                    <div class="card-body accordion-body">
                                        @if (correctPwd == providedPwd)
                                        {
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/GKPacing(5Week)_web.pdf" target="_blank" title="Incoming Kindergarten">Incoming Kindergarten</a><br /><a href="https://swunvideos.s3.amazonaws.com/summer_school/G1Pacing(5Week)_web.pdf" target="_blank">Incoming Grade 1</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G2Pacing(5Week)_web.pdf" target="_blank">Incoming Grade 2</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G3Pacing(5Week)_web.pdf" target="_blank">Incoming Grade 3</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G4Pacing(5Week)_web.pdf" target="_blank">Incoming Grade 4</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G5Pacing(5Week)_web.pdf" target="_blank">Incoming Grade 5</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G6Pacing(5Week)_web.pdf" target="_blank">Incoming Grade 6</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G7Pacing(5Week)_web.pdf" target="_blank">Incoming Grade 7</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G8Pacing(5Week)_web.pdf" target="_blank">Incoming Grade 8</a><br />
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-lg-3">
                    <img src="https://math.swunmath.com/images/SummerSchool3.jpg" style="opacity: .9; border-radius: 5px;" />
                    <h4 style="text-align: center; padding-top: 10px; color: black;">4-Week Program</h4>

                    <div class="container">
                        <div class="py-5 accordionClass" style="margin-top:-58px;">
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-246">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-246" aria-expanded="false" aria-controls="#collapse-246"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Details</button>
                                </div>
                                <div id="collapse-246" class="collapse accordionClassChild" aria-labelledby="heading-246">
                                    <div class="card-body accordion-body">
                                        @if (correctPwd == providedPwd)
                                        {
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/GKPacing(4Week)_web.pdf" target="_blank" title="Incoming Kindergarten">Incoming Kindergarten</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G1Pacing(4Week)_web.pdf" target="_blank">Incoming Grade 1</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G2Pacing(4Week)_web.pdf" target="_blank">Incoming Grade 2</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G3Pacing(4Week)_web.pdf" target="_blank">Incoming Grade 3</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G4Pacing(4Week)_web.pdf" target="_blank">Incoming Grade 4</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G5Pacing(4Week)_web.pdf" target="_blank">Incoming Grade 5</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G6Pacing(4Week)_web.pdf" target="_blank">Incoming Grade 6</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G7Pacing(4Week)_web.pdf" target="_blank">Incoming Grade 7</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G8Pacing(4Week)_web.pdf" target="_blank">Incoming Grade 8</a><br />
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="col-lg-3">
                    <img src="https://math.swunmath.com/images/SummerSchool4.jpg" style="opacity: .9; border-radius: 5px;" />
                    <h4 style="text-align: center; padding-top: 10px; color: black;">3-Week Program</h4>

                    <div class="container">
                        <div class="py-5 accordionClass" style="margin-top:-58px;">
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-247">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-247" aria-expanded="false" aria-controls="#collapse-247"><i class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Details</button>
                                </div>
                                <div id="collapse-247" class="collapse accordionClassChild" aria-labelledby="heading-247">
                                    <div class="card-body accordion-body">
                                        @if (correctPwd == providedPwd)
                                        {
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/GKPacing(3Week)_web.pdf" target="_blank" title="Incoming Kindergarten">Incoming Kindergarten</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G1Pacing(3Week)_web.pdf" target="_blank">Incoming Grade 1</a> <br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G2Pacing(3Week)_web.pdf" target="_blank">Incoming Grade 2</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G3Pacing(3Week)_web.pdf" target="_blank">Incoming Grade 3</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G4Pacing(3Week)_web.pdf" target="_blank">Incoming Grade 4</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G5Pacing(3Week)_web.pdf" target="_blank">Incoming Grade 5</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G6Pacing(3Week)_web.pdf" target="_blank">Incoming Grade 6</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G7Pacing(3Week)_web.pdf" target="_blank">Incoming Grade 7</a><br />
                                            <a href="https://swunvideos.s3.amazonaws.com/summer_school/G8Pacing(3Week)_web.pdf" target="_blank">Incoming Grade 8</a><br />
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    @using (Html.BeginForm("SummerSchool", "Resources", new { Area = "" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="display: block;">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">

                        <p>Please provide password to access the summer school page.</p>

                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="pagePassword" id="pagePassword" class="form-control">
                            @if (providedPwd != null && providedPwd.Length > 0)
                            {
                                <span class="text-danger help-block small">
                                    Your password is invalid. Please try again.
                                </span>
                            }
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" onclick="ValidateInput()">Login</button>
                        @*<button type="button" class="btn btn-default">Cancel</button>*@
                    </div>
                </div>

            </div>
        </div>
    }
        <!-- Services End -->
        <!--Copyright Start-->
        <div class="footer-bottom text-center" style="display:none;">
            <div class="container">
                <div class="copyright-text">Copyright © Swunmath. All Rights Reserved.</div>
            </div>
        </div>
        <!--Copyright End-->
        <!--Copyright Blue Start-->
        <div class="footer-bottom-blue text-center">
            <div class="container">
                <div class="copyright-text-white">Copyright © Swunmath. All Rights Reserved.</div>
            </div>
        </div>
        <!--Copyright Blue End-->
        <!-- Js -->
        <script src="https://math.swunmath.com/js/jquery.min.js"></script>
        <script src="https://math.swunmath.com/js/bootstrap.min.js"></script>
        <script src="https://math.swunmath.com/js/popper.min.js"></script>
        <script src="https://math.swunmath.com/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="https://math.swunmath.com/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <!-- Jquery Fancybox -->
        <script src="https://math.swunmath.com/js/jquery.fancybox.min.js"></script>
        <!-- Animate js -->
        <script src="https://math.swunmath.com/js/animate.js"></script>
        <script>
            new WOW().init();
        </script>
        <!-- WOW file -->
        <script src="https://math.swunmath.com/js/wow.js"></script>
        <!-- general script file -->
        <script src="https://math.swunmath.com/js/owl.carousel.js"></script>
        <script src="https://math.swunmath.com/js/script.js"></script>

        <script>
            var acc = document.getElementsByClassName("accordionClass");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }


        </script>

        @if (correctPwd != providedPwd)
        {
            <script>
                $(window).on('load', function () {
                    $('#myModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                });

                function ValidateInput() {
                    var SSpassword = $('#pagePassword').val();
                    if (SSpassword == "") {
                        alert('Please Provide Password');

                        return false;
                    }

                    $('#pagePassword').val(btoa(SSpassword));
                    return false;
                }
            </script>
        }


    </body>
</html>